.modal-wrapper {
    width: 500px;
    height: 586px;
    margin: 140px auto;

    padding-top: 25px;
}

.modal-header {
    padding-left: 30px;
    margin-bottom: 30px;
}

.modal-header>h1 {
    margin: 0;
    display: inline-block;
    padding: 25px auto 30px 30px;
    color: #333333;
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: normal;
}

.form-item {
    padding-left: 32px;
    margin-bottom: 20px;
}

.form-item>label {
    display: inline-block;
    width: 150px;
    margin-right: 14px;
}

.form-item>input {
    width: 269px;
    height: 38px;
    border: 1px solid #CECECE;
}
.form-item:nth-last-child(-n+2)>input{
    width: 130px;
}
.form-item:last-child {
    margin-bottom: 35px;
}

.modal-footer {
    padding-left: 30px;
    padding-top: 21px;
    box-sizing: border-box;
    height: 80px;
    background-color: #E9E9E9;
}

.submit {
    width: 150px;
    height: 38px;
    color: white;
    background: #518E6A;
    border: 1px solid #518E6A;
    border-radius: 1px;
    padding: 0;
    margin-right: 10px;
}

.return {
    width: 110px;
    height: 38px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    padding:0;
}
.icon_close{
    width: 14px;
    height: 14px;
    float:right;
    margin-right: 28px;
}