html,
body {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1.63913e-08px;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    border-top: 2px solid #518E6A;
    margin: 5vh auto;

}

.header {
    /* font-family: Roboto; */
    margin: 0;
    margin-bottom: 34px;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    color: #333333;
}

.content {
    padding: 45px 45px 0px 45px;
    background: #FFFFFF;
    border: 1px solid #DADADA;

    margin: auto;
}

/* .action_block {
    margin-top:34px;
    display:block;
    height: 42px;
    margin-bottom:39px;
} */

form>input {
    width: 285px;
    height: 42px;
    padding: 10px;
}

input::placeholder {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.63913e-08px;
    color: #A0A0A0;

}

.search_by_address {
    display: inline-block;
    margin-bottom: 40px;

}

form>button {
    font-weight: 400;
    width: 150px;
    height: 42px;
    margin-left: 10px;
    margin-right: 15px;

    font-size: 16px;
    line-height: 25px;
    color: white;
    background: #518E6A;
    border: 1px solid #518E6A;
    border-radius: 1px;
    letter-spacing: 1.63913e-08px;
    font-family: 'Roboto', sans-serif;
}

.search_by_address>a {
    text-decoration: none;
}

table {
    width: 100%;
    margin-bottom: 28px;
}

th {
    border-bottom: 1px solid lightgrey;
    text-align: left;
}

/* .cad_num{
    text-align: center;
} */
tr:nth-of-type(2)>td {
    padding-top: 22px;
}

td {
    padding-top: 10px;
}

tr:hover {
    color: blue;
    cursor: pointer;
}

.footer {
    position: absolute;
    color: #A1A1A1;
    bottom: -62px;
    left: 0;
    right: 0;


}

.footer_content {
    display: inline-block;
}

.kontur-bold {
    font-weight: 900;
}

.kontur,
.footer_img {
    display: inline-block;
}

.footer_img {
    float: left;
}

.icon {

    /* background-image: url(./logo.svg); */
    width: 22px;
    height: 22px;
}

/* ============MODAL============= */
.modal-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
}
#modal:target{
    opacity:100;
    visibility: visible;
}
.modal-content {
    position:fixed;
    left:calc(50vw - 250px);
    top:5vh;
    width: 500px;
    height: 586px;
    padding-top: 25px;
    z-index: 2;
    background-color: white;
}

.modal-header {
    padding-left: 30px;
    margin-bottom: 30px;
}

.modal-header>h1 {
    margin: 0;
    display: inline-block;
    padding: 25px auto 30px 30px;
    color: #333333;
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: normal;
}

.form-item {
    padding-left: 32px;
    margin-bottom: 20px;
}

.form-item>label {
    display: inline-block;
    width: 150px;
    margin-right: 14px;
}

.form-item>input {
    width: 269px;
    height: 38px;
    border: 1px solid #CECECE;
}

.form-item:nth-last-child(-n+2)>input {
    width: 130px;
}

.form-item:last-child {
    margin-bottom: 35px;
}

.modal-footer {
    padding-left: 30px;
    padding-top: 21px;
    box-sizing: border-box;
    height: 80px;
    background-color: #E9E9E9;
}

.submit {
    width: 150px;
    height: 38px;
    color: white;
    background: #518E6A;
    border: 1px solid #518E6A;
    border-radius: 1px;
    padding: 0;
    margin-right: 10px;
}

.return {
    text-decoration: none;
    display: inline-block;
    vertical-align: bottom;
    background: white;
    color: black;
    width: 110px;
    height: 38px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
    border-radius: 2px;
    padding: 7px 15px 10px 18px;
}


.icon_close {
    width: 14px;
    height: 14px;
    float: right;
    margin-right: 28px;
    margin-top: 6px;
}
.modal_bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }